
<div id="global-container" style="background-color: #000044;">
  <div class="main-image">
     <div class="main-image-b"></div>
     <span class="main-title animate__animated animate__fadeInUp">Lost in Watercycle</span>
     <span class="main-title2 animate__animated animate__fadeInUp">First EP</span>
   　<div class="main-footer">
      <%= image_tag asset_path("arrow.svg"), class:"down-arrow" %>
     <span class="main-text">scroll</span>
    </div>
  </div>
   <%# <aside class="side left">
    <div class="side_inner">
        <a class="twitter icon" href="#">Twitter</a>
        <a class="instagram icon" href="#">Instagram</a>
    </div>
  </aside> %>
  <% @music_choices.each do |choice| %>
    <div id="image-songs"class="back-image">
      <%= attachment_image_tag choice, :background_image, class:"choice-image", format: 'png' %>
        <div class="lyrics float" style="color: <%= choice.color %>">
          <div data-iziModal-open=".iziModal_<%= choice.id %>">
          <%= simple_format(choice.lyrics) %>
          </div>
        </div>
        <div class="iziModal_<%= choice.id %>" data-izimodal-title="解説" data-izimodal-subtitle="解説者">
            <div class="commentary">
              <%= simple_format(choice.commentary)%>
            </div>
        </div>
         <%= choice.sound_cloud.to_s.html_safe %>
      <span class="title" style="color: <%= choice.color %>;">
      　<%= choice.song_title %>
      </span>
    </div>

  <script type="text/javascript">
  $(function(){
    $(".iziModal_<%= choice.id %>").iziModal();
  })
  </script>

  <% end %>
   <%# <aside class="side right">
    <div class="side_inner">
    <span>©︎butohes</span>
    </div>
  </aside> %>
  </div>
<%= javascript_include_tag 'TweenMax.min.js' %>
<%= javascript_include_tag 'music_choices.js' %>
<%= javascript_include_tag 'iziModal.min.js' %>
<%= javascript_include_tag 'jquery.ripples-min.js' %>
