<main>
<div class="container">
  <div class="row">

   <div class="col-lg-12">
   <%= link_to news_index_path, data: {"turbolinks" => false} do %>
    <span class="news-info">NEWS</span>
  <% end %>
   </div>

    <div class="col-lg-6 news-image">
    <%= attachment_image_tag @news, :news_image, class:"jk",　format: 'png', fallback: "news.jpg"%>
    </div>
   
    <div class="col-lg-6 news-title">
     <%= @news.title%>
     
    <div class="news-created">
     <%= @news.created_at.strftime('%Y-%m-%d') %>
    </div>

    <div class="news-body">
    <%= @news.body%>
    </div>
    </div>

      <% if @news_music.present?%>
      <div class="col-lg-12 news-link">
       <%= link_to("show-more", music_path(@news_music.music),{class:"btn-open animsition-link"}) %>
      </div>
      <% end %>

   </div>
  </div>
</div>
</main>
<%= javascript_include_tag 'none.js' %>
<%= javascript_include_tag 'aimsition.js' %>