<main>
<div class="container">
  <div class="row">

   <div class="col-lg-12">
    <span class="news-info">NEWS</span>
   </div>

    <div class="col-lg-12 news-image">
    <%= attachment_image_tag @news, :news_image, class:"jk",　format: 'png', fallback: "news.jpg"%>
    </div>
   
    <div class="col-lg-12 news-title">
     <%= @news.title%>
    </div>
     
    <div class="col-lg-12 news-created">
     <%= @news.created_at.strftime('%Y-%m-%d') %>
    </div>

    <div class="col-lg-8 news-body">
    <%= @news.body%>
    </div>

      <% if @news_music.present?%>
      <div class="col-lg-12 news-link">
       <%= link_to("show-more", music_path(@news_music.music),{class:"btn-open"}) %>
      </div>
      <% end %>

   </div>
  </div>
</div>
</main>