<section class="contact">
  <%= form_with(model: contact, local: true, class:"contact-form roo") do |form| %>
    <% if contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-field col x-50">
      <%= form.text_field :name, class:"input-text js-input" %>
      <label class="label" for="name">Name</label>
    </div>

    <div class="form-field col x-50">
      <%= form.text_field :email, class:"input-text js-input" %>
      <label class="label" for="email">E-mail</label>
    </div>

    <div class="form-field col x-100">
      <%= form.text_area :content, class:"input-text js-input" %>
      <label class="label-right" for="message">Message</label>
    </div>

    <div class="form-field col x-100 align-center">
      <%= form.submit "SEND", class:"submit-btn" %>
    </div>
  <% end %>
</section>