  <main>
    <div class="main_visual">
      <span class="visual-text">1st SINGLE</span>
      <span class="visual-text_main">Hyperblue</span>
      <span class="visual-text_create">Out Now</span>
      <a class="EP_link"><span>LEARN MORE</span><em></em></a>
    </div>
    <div class="main">
    <div class="news-title">
      <span class="text">NEWS</span>
    </div>
    <div class="container">
      <div class="row p-4 news-main">
        <% @news.each do |news| %>
          <div class="news-object col-lg-4 col-xs-12">
          <%= link_to news_path(news.id), data: {"turbolinks" => false} do %>
            <div class="card bg-light h-100" style="width: 15rem; margin: 0 auto;">
                  <%= attachment_image_tag news, :news_image,　format: 'png', fallback: "news.jpg", size: "237x237" %>
                <div class="card-body">
                  <p class="card-text"><%= news.title%></p>
                  <p class="card-text"><small class="text-muted"><%= news.created_at.strftime('%Y-%m-%d') %></small></p>
                </div>
            </div>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
        <div class="more-news">
        <%=link_to news_index_path, class:'bt3 animsition-link', data: {"turbolinks" => false} do %>
          Learn More
          <span class='line-1'></span>
          <span class='line-2'></span>
          <span class='line-3'></span>
          <span class='line-4'></span>
        <% end %>
        </div>
    <div class="container">
      <div class="row" style="margin-top: 100px;">
         <div class="col-lg-6" style="text-align: center;">
         <span class="top-sns">STREAMING</span>
          <iframe src = " https://lnk.ffm.to/horizon " width = " 320 " height = " 500 " frameBorder = "0"></iframe>
         </div>
          <div class="col-lg-6" style="text-align: center;">
              <span class="top-sns">TWITTER</span>
               <div class="twitter">
                <a class="twitter-timeline" data-lang="ja" data-width="300" data-height="500" data-chrome="noheader nofooter" href="https://twitter.com/butohes_japan?ref_src=twsrc%5Etfw">Tweets by butohes_japan</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
               </div>
          </div>
    </div>
  </div>
  </main>
<%= javascript_include_tag 'homes.js' %>
<%= javascript_include_tag 'aimsition.js' %>

