<%= form_with model:@category, local:true do |f| %>
<%= f.label "カテゴリー"%>
<%= f.text_field :name, class:"form-control"%>
<%= f.submit "追加" %>
<% end %>

<% @categories.each do |category|%>
<%= category.name %>
<% end %>
<p>TOP MUSIC</p>
<%= form_tag(_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>