<% if user_signed_in? %>
  <%= render "music_choices/choice", music: @music, music_choice: @music_choice %>

  <% @music_choices.each do |choice| %>
  <%= choice.song_title %>
  <%= attachment_image_tag choice, :background_image, format: 'png', size: "100x100" %>
  <% end %>

  <%= link_to "プレビューをみる",music_music_choices_path(@music.id), data: {"turbolinks" => false} %>
<% else %>
<main>
  <div class="container">
  <div class="row">
    <div class="col-lg-5　col-xs-12 mt-4">
    <%= attachment_image_tag @music, :image, format: 'png', class:"hoge"%>
    </div>
    <div class="col-lg-7 disco">
    <span style="font-family: 'Cormorant Garamond', serif;">MUSIC</span>
    <span><%= @music.category.name %></span>
    <span><%= @music.release %></span>
    <span><%= @music.title%></span>
    <span><%= @music.title%></span>
    <span>iTunes Store (<%= @music.price %>) / Apple Music / Spotify</span>
    <a href="<%= @music.presave %>" class="btn-open" target="_blank"rel="noopener noreferrer">STREAMING</a>
    </div>
  </div>
  </div>
</main>
<% end %>
<%= javascript_include_tag 'aimsition.js' %>
<%= javascript_include_tag 'musics.js' %>