<header class="header">
  <%= link_to root_path, "data-turbolinks" => "false" do%>
  <div class="header_logo"></div>
  <% end %>
 <nav>
      <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, class:"bt cubic", method: :delete do %>
           <span class="hovering">ログアウト</span><span class="default">logout</span>
          <% end %>

          <%= link_to new_music_path,class:"bt cubic" do %>
          <span class="hovering">曲作成</span><span class="default">Create</span>
          <% end %>

          <%= link_to musics_path, class:"bt cubic" do %>
          <span class="hovering">Discography</span><span class="default">Music</span>
          <% end %>

          <%= link_to new_news_path, class:"bt cubic " do %>
          <span class="hovering">News作成</span><span class="default">News</span>
          <% end %>

          <a href="#" class="bt cubic"><span class="hovering">coming soon</span><span class="default">Store</span></a>
      <% end %>
 </nav>
</header>