<!DOCTYPE html>
<html>
  <head>
    <title>buthoes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&family=Noto+Serif+JP:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Playfair+Display&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <div class="animsition">
  <div id="butohes-log">
    <div id="butohes-log-image" class="cover-slide inview">
      <%= image_tag asset_path("butohes_logo_white.png", alt: "butohes.logo"), class:"logo" %><br>
    </div>
  </div>
  <div class="global-container">
    <%= render "layouts/header" %>
      <%= yield %>
    <footer>
    <div class="footer-visual">
    <p class="footer-text">©butohes</p>
     <a href="https://www.youtube.com/channel/UCSGWPh94G3eSPPEV6bnjJ6g"  target="_blank"rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
     <a href="https://www.instagram.com/butohesgram/"  target="_blank"rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
     <a href="https://butohes.bandcamp.com/releases"  target="_blank"rel="noopener noreferrer"><i class="fab fa-bandcamp"></i></a>
     <a href="https://soundcloud.com/butohes_japan/"  target="_blank"rel="noopener noreferrer"><i class="fab fa-soundcloud"></i></a>
     <a href="https://twitter.com/butohes_japan"  target="_blank"rel="noopener noreferrer"><i class="fab fa-twitter-square"></i></a>
    </div>
    </footer>
  </div>
 </div>
 <nav class="mobile-menu">
  <ul class="mobile-menu__main">
      <li class="mobile-menu__item">
      <%= link_to news_index_path, class:"mobile-menu__link animsition-link" do %>
                <span class="mobile-title">お報せ</span><span class="sub-title">News</span>
      <% end %>
      </li>
      <li class="mobile-menu__item">
      <%= link_to musics_path, class:"mobile-menu__link animsition-link" do %>
              <span class="mobile-title">楽曲</span><span class="sub-title">Music</span>
        <% end %>
      </li>
      <li class="mobile-menu__item">
      <%= link_to musics_path, class:"mobile-menu__link animsition-link" do %>
              <span class="mobile-title">楽曲</span><span class="sub-title">Music</span>
      <% end %>
      </li>
  </ul>
</nav>
<% if user_signed_in?%>
<style>
header {
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  z-index: 1;
  top: 0;
  left: 0;
  position: relative;
}
.animsition{
  opacity: 1;
}
</style>
<% end %>
  </body>
  <%= javascript_include_tag 'mobile.js' %>
</html>